<div class="modal-overlay" *ngIf="isOpen" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h2>{{ title }}</h2>
      <button class="close-button" (click)="close()">&times;</button>
    </div>
    <div class="modal-body" style="font: 1em sans-serif; ">
      <form [formGroup]="employmentForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="col-md-6">
            <label for="companyName">Company Name</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="companyName" formControlName="companyName" class="form-control">
            <div *ngIf="employmentForm.get('companyName')?.touched && employmentForm.get('companyName')?.errors"
              class="error-message">
              <div *ngIf="employmentForm.get('companyName')?.errors?.['required']">
                Company name is required
              </div>
              <div *ngIf="employmentForm.get('companyName')?.errors?.['maxLength']">
                Company name must be less than 100 characters
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="position">Position</label>
          </div>
          <div class="col-md-6">
            <input type="text" id="position" formControlName="position" class="form-control">
            <div *ngIf="employmentForm.get('position')?.touched && employmentForm.get('position')?.errors"
              class="error-message">
              <div *ngIf="employmentForm.get('position')?.errors?.['required']">
                Position is required
              </div>
              <div *ngIf="employmentForm.get('position')?.errors?.['maxLength']">
                Position must be less than 100 characters
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="status">Status</label>
          </div>
          <div class="col-md-6">
            <select id="status" formControlName="status" class="form-control">
              <option *ngFor="let option of statusOptions" [value]="option.value">
                {{ option.label }}
              </option>
            </select>
            <div *ngIf="employmentForm.get('status')?.touched && employmentForm.get('status')?.errors"
              class="error-message">
              <div *ngIf="employmentForm.get('status')?.errors?.['required']">
                Status is required
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-primary" [disabled]="employmentForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>